/* buttons */
@use 'sass:math';
.button {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0 11px;
  width: 240px;
  box-sizing: border-box;
  line-height: 1;
  -webkit-appearance: none;
  border: none;
  color: $text;
  outline: none;
  transition: all 0.5s ease;
  @include mobile{width:140px};
}

.buttons {
  padding: $space*1.75 0;
  @include mobile{padding:$space 0};

  &__button {
    @extend .button;
    background: $white;
    color: $text;
    border: $baseBorder;
    display: inline-block;
    margin-right: $space;
    @include mobile{margin-right:math.div($space, 2)};

    &:last-child {
      margin-right: 0;
    }

    &:active,
    &:hover {
      background: $blue;
      color: $white;
      border-color: $blue;
    }
  }
}
