/* block product card */
.product-card {
  overflow: hidden;
  background: $white;
  color: $text;
  box-sizing: border-box;
  padding: $space $space $space*2;
  @include tablet{padding: 25px 20px 25px 0};

  &__image {
    float: left;
    width: 33%;
    @include tablet{width:46%};
    img{
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__body {
    margin-left: 44%;
    @include tablet{margin-left:52%};
  }
  &__title {
    @include font-xbold($baseFontSize + 11);
    text-transform: uppercase;
    margin: $space*2.5 0 $space;
  }
  &__links {
    margin-bottom: $space*2;
    @include tablet{margin-bottom:$space};

    a {
      margin: 5px $space*1.5 5px 0;
      display: inline-block;
    }
  }
  &__descr {
    line-height: 1.4;
    margin: 0;
    max-width: 450px;
    @include tablet{max-width:100%};
  }
}
