//Breakpoints
$desktop: 1288px;
$tablet: 1018px;
$mobile: 767px;


@mixin desktop {
  @media only screen and (max-width: $tablet){
    @content;
  }
}

//Colors
$white: #ffffff;
$blue: #006be5;
$gray: #f4f4f4;
$text: #131313;
$darkGray: #d9d9d9;

//Fonts
$baseFS: 13px;
//Spacers
$space:20px;
$baseBorder:2px solid $darkGray;