//Breakpoints
$desktop: 1288px;
$tablet: 1018px;
$mobile: 767px;

// Mixin responsive
// @mixin responsive($maxWidth, $rules) {
//   @media only screen and (max-width: $maxWidth) {
//     $rules
// }
// }
@mixin desktop {
  @media screen and (min-width: $desktop){
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $tablet){
    @content;
  }
}

//Colors
$white: #ffffff;
$blue: #006be5;
$gray: #f4f4f4;
$text: #131313;

//Fonts
$baseFontSize: 13px;

//Spacers
$space:20px;
$baseBorder:2px solid $gray;